@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap');

:root {
  --white: #FFFFFF;
  --red: #be0029;
  --dark: rgb(41,44,51);
}

/* * {
  border: 1px solid dodgerblue;
} */

body, html {
  /* height: 100%; */
  margin: 0;
  background-color: var(--dark)
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  color: var(--white);
  font-family: 'IBM Plex Sans', sans-serif;
}

#title {
  color: var(--red);
  font-weight: 700;
  font-size: 7rem;
}

.app {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  text-align: center;
}

.form-field {
  color: var(--dark);
}

#account-header {
  margin-bottom: 5%;
}

.create-account {
  text-align: center;
  display: block;
}

.account-form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  width: 33%;
}

#sensei-image {
  background-image: url("./css/images/sensei.png");
  width: 120px;
  height: 120px;
  margin: 2% auto 0 auto;
  background-position: center;
  background-size: cover;
}

#sensei-image-main {
  background-image: url("./css/images/sensei.png");
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 50%;
  right: 8%;
}

#student-image-main {
  background-image: url("./css/images/student2.png");
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 8%;
}

#student-image-nav {
  background-image: url("./css/images/student.png");
  width: 75px;
  height: 75px;
  background-position: center;
  background-size: cover;
}

.training {
  width: 100;
}

.training-summary {
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
}

.situation {
  margin-left: 20%;
  text-align: left;
  width: 200px;
}

#situation-content {
  margin-bottom: 0;
}

#postgres {
  margin-bottom: 0;
  color: var(--red);
  text-decoration: none;
}

.ninja-moves {
  margin-right: 10%;
  margin-left: 5%;
  text-align: left;
  width: 400px;
}

#header {
  color: var(--red);
  margin-bottom: 0;
  font-weight: 600;
}

#query {
  width: 80%;
  height: 20vh;
  background-color: black;
  color: var(--white);
  font-family: monospace;
  font-size: 2rem;
}

#query-form {
  margin-bottom: 0;
}

nav {
  position: fixed;
  top: 2%;
  left: 2%;
  text-align: left;
}

#account-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

#error {
  color: var(--red);
  font-size: 1.75rem;
}

.button-primary {
  margin-bottom: 0;
}

#ninja-skill-button {
  margin-bottom: 3rem;
}

#link {
  color: var(--white);
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
}

#link-cta1 {
  color: var(--red);
  text-decoration: none;
  display: block;
  font-weight: 700;
  margin-bottom: 2%;
  font-size: 1.6rem;
}

#link-cta2 {
  color: var(--red);
  text-decoration: none;
  display: block;
  font-weight: 600;
  margin-bottom: 2%;
  font-size: 1.6rem;
}

.button-secondary {
  color: var(--red);
  border-color: var(--red);
  outline: 0;
}

.choose-move {
  display: flex;
  align-items: center;
  justify-content: center;
}

#moves-select {
  margin-left: 3%;
  width: 12rem;
  background-color: var(--dark);
}

.results {
  margin: 3% auto;
  width: 100%;
}

#query-results {
  font-size: 1.25rem;
  margin: 0 auto;
}

.incorrect {
  color: var(--red);
  font-weight: 600;
}

.correct {
  font-weight: 600;
}

.ninja-moves-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-ninja-move {
  width: 375px;
  height: 310px;
  background-color: black;
  color: var(--white);
  font-family: monospace;
  font-size: 2rem;
  border-radius: 10px;
  margin-top: 3%;
  text-align: left;
  padding: 0 2%;
  position: relative;
}

#remove {
  position: absolute;
  bottom: 0;
  color: var(--red);
  cursor: pointer;
}
